{% extends "auth_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Log in</h4>

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </form>
      <div class="flex gap-2 mt-2">
        <span>Don't have an account?</span>
        <a
          class="text-green-600 underline hover:text-green-700"
          href="/accounts/signup/"
        >
          Sign Up
        </a>
      </div>
    </div>
  </div>
{% endblock %}