{% extends "auth_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <h4 class="card-title">Sign up</h4>
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
      <div class="flex gap-2 mt-2">
        <span>Already have an account?</span>
        <a
          class="text-green-600 underline hover:text-green-700"
          href="/accounts/login/"
        >
          Log in
        </a>
      </div>
    </div>
  </div>
{% endblock %}